{
  "openapi": "3.1.0",
  "info": {
    "title": "Screeps World HTTP API",
    "version": "0.2.0",
    "summary": "Source-derived contract of the official Screeps World (screeps.com) HTTP API",
    "description": "Community-maintained contract of the official Screeps World HTTP API at https://screeps.com, not published by Screeps. Evidence: static analysis of the official web client assets (pinned by bust and SHA-256 in coverage.json), the community client node-screeps-api and the official private-server source screeps/backend-local, all pinned in sources.json/coverage.json and cited per operation in x-sources. `x-availability['screeps-com']` is `supported` when official evidence shows the operation is used against screeps.com, `unverified` otherwise; `x-unverified` states known evidence gaps. A supported marker does not mean every operation was exercised live. The official web client treats a response as successful only when the JSON body has a truthy `ok`; logical failures arrive as `{error}` usually with HTTP 200, so never infer success from the status code. Signed-in requests send `X-Token` (and the legacy `X-Username` with the same value); a returned `X-Token` response header replaces the stored token. The client may also send `X-Ignore-Server-Down: 1`. Standalone/private servers are described by the separate standalone compatibility profile (profiles/standalone.json), not by this document. WebSocket/SockJS channels and the in-game JavaScript API are outside this document. Endpoints can have destructive effects; examples are not authorization to invoke them.",
    "contact": {
      "name": "OpenScreeps",
      "url": "https://github.com/openscreeps/openapi/issues"
    },
    "license": {
      "name": "ISC",
      "identifier": "ISC"
    }
  },
  "servers": [
    {
      "url": "https://screeps.com",
      "description": "Official Screeps World; `shard` query/body fields route shard-specific operations."
    }
  ],
  "externalDocs": {
    "description": "Pinned source provenance, coverage and the standalone compatibility profile",
    "url": "https://github.com/openscreeps/openapi#coverage-and-evidence"
  },
  "paths": {
    "/api/adm/timeline-stats": {
      "get": {
        "operationId": "adminTimelineStats",
        "summary": "Read server timeline statistics",
        "description": "Internal screeps.com administration page (`/timeline-stats`): returns timeline statistics for a shard. The client JSON-parses every `stats` entry and draws `{type, name, start, end}` rows (start/end converted with `new Date(...)`) on a Google Charts timeline.",
        "tags": [
          "Administration (Hosted)"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Shard"
          },
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AdminTimelineStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C286307"
        ],
        "x-unverified": "Authorization requirements (presumably staff-only), the meaning of `type`/`name` and the `start`/`end` value format are not evidenced."
      }
    },
    "/api/arena/activate": {
      "post": {
        "operationId": "arenaActivate",
        "summary": "Redeem an Arena activation code",
        "description": "Redeems an Arena activation code for the signed-in player. The official client opens the activation dialog when `POST /api/arena/status` fails with `activation needed`, posts the entered `code`, closes the dialog on success and retries the status update. A logical failure `invalid code` is shown as \"Activation code is invalid\"; other errors as \"Unknown error\".",
        "tags": [
          "Arena"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArenaActivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C119692"
        ],
        "x-unverified": "The success body is not read by the official client; only the `invalid code` error string is evidenced.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/arena/find-init-room": {
      "get": {
        "operationId": "arenaFindInitRoom",
        "summary": "Find a starting Arena room",
        "description": "Returns the Arena room the player should enter; the official client navigates to the room view of the returned `room`. It is called from the Arena lobby start button (also when no player is signed in, while a signed-in player without e-mail is sent to registration confirmation instead) and from the \"play Arena again\" action in the room view.",
        "tags": [
          "Arena"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ArenaFindInitRoomResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C80060",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C82830"
        ],
        "x-unverified": "Whether an anonymous caller receives a room (the lobby calls it when signed out) and response fields other than `room` are not evidenced.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/arena/order/offer": {
      "get": {
        "operationId": "arenaOrderOffer",
        "summary": "Read the Arena access offer",
        "description": "Resolves the Arena page data (`accessData`) of the official Angular client. The page shows the caller's Steam key from `steamKey` when present and otherwise links to the Steam store page.",
        "tags": [
          "Arena"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ArenaOrderOfferResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L191776C50",
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L192072C46"
        ],
        "x-unverified": "Authentication requirements are not evidenced (the route resolver calls it without a sign-in check); response fields other than `steamKey` are read only by the template and not evidenced.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/arena/order/purchase": {
      "post": {
        "operationId": "arenaOrderPurchase",
        "summary": "Purchase Arena access",
        "description": "Purchases Arena access for the signed-in player. The official client's `ArenaService.getPurchase` posts without a body, then refreshes the signed-in account (`AuthService.check`) and returns the raw response.",
        "tags": [
          "Arena"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "unverified"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L192091C46"
        ],
        "x-unverified": "No caller of `ArenaService.getPurchase` exists in the pinned bundle, so the request is not issued by the shipped client; success fields, errors and the exact authentication requirement (inferred from the account refresh) are not evidenced.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/arena/status": {
      "get": {
        "operationId": "arenaStatus",
        "summary": "Read the caller's Arena status",
        "description": "Returns the signed-in player's Arena participation status. When the official client opens an Arena room (`arena*`) for a signed-in player and `status` is `not active`, it shows the Arena tip dialog and then joins via `POST /api/arena/status` with `respawn: true`.",
        "tags": [
          "Arena"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ArenaStatusResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C80446"
        ],
        "x-unverified": "Only the `not active` status value is evidenced; other values and fields are not.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      },
      "post": {
        "operationId": "arenaStatusUpdate",
        "summary": "Join or update Arena participation",
        "description": "Sets the signed-in player's Arena participation for the current room with a `respawn` preference (`ArenaActivator.run`). The official client calls it after the Arena tip dialog (`respawn: true`) and whenever the Arena respawn toggle changes in the room view. A logical failure `activation needed` opens the activation-code dialog (`POST /api/arena/activate`) and retries afterwards.",
        "tags": [
          "Arena"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArenaStatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C120013"
        ],
        "x-unverified": "The success body is not read; only the `activation needed` error string is evidenced.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/auth/github": {
      "get": {
        "operationId": "authGithub",
        "summary": "Start GitHub sign-in or account linking",
        "description": "Browser navigation, not an `Api` call: the official client opens `API_URL + 'auth/github?'` in a popup window. When signed in it appends `token=<current auth token>` (linking GitHub to the signed-in account); with `repoScope=1` it requests repository access (used by the GitHub code-sync settings after `GET /api/auth/github/check-repo-scope` answered `no scope`). On completion the popup posts a JSON string message to the opener; the client parses it, reads `token` (stored as the new session token), `email`, and `username` (absent for a newly registered account, which the client then sends to `/register`).",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Current auth token, appended only when the user is already signed in (links GitHub to that account).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repoScope",
            "in": "query",
            "required": false,
            "description": "`1` to request GitHub repository scope; omitted otherwise.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Browser navigation opened in a popup window; the response (OAuth redirect chain and the final page) is not read as JSON by the official client."
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C299157"
        ],
        "x-unverified": "The HTTP responses of the navigation (redirect to GitHub, callback URL, final HTML page) and the exact postMessage payload beyond `token`/`email`/`username` are not evidenced; the popup message is a browser `postMessage`, not part of the HTTP response body."
      }
    },
    "/api/auth/github/check-repo-scope": {
      "get": {
        "operationId": "authGithubCheckRepoScope",
        "summary": "Check GitHub repository scope",
        "description": "Checks whether the signed-in account's linked GitHub authorization includes repository scope. The official account page calls it before opening the GitHub repository settings: on success it navigates to the repository selection; the logical error `no scope` makes it restart GitHub OAuth with `repoScope=1` (`GET /api/auth/github`). Other errors are propagated.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C267054"
        ],
        "x-unverified": "Only success vs the `no scope` error is evidenced; the success body is not read and other error strings are unknown."
      }
    },
    "/api/auth/me": {
      "get": {
        "operationId": "authMe",
        "summary": "Get the authenticated account",
        "description": "Returns the private profile of the account owning the token: id, username, e-mail (and an unconfirmed `emailDirty`), CPU, badge, GCL/power progress, credit balance (`money`), notification preferences, linked Steam/GitHub data, shard CPU limits (`cpuShard`, `cpuShardUpdatedTime`), account resources and power-creep experimentation state. Only fields present in storage are serialized. The official web client calls it after storing a token and keeps the result as the signed-in account; node-screeps-api resolves restricted tokens through `GET /api/user/name` + `GET /api/user/find` instead.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AuthMeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-observations": [
          {
            "url": "https://screeps.com/api/auth/me",
            "date": "2026-10-10",
            "notes": "Authenticated read-only response represents steam.ownership as an array of integer Steam application IDs. No account identifiers or credentials are recorded."
          }
        ],
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C297032",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L446-L454",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/auth.ts#L15-L74",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/auth.js#L111-L135",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L2168-L2179"
        ],
        "x-compatibility": {
          "screeps-com": "`cpuShard`, `cpuShardUpdatedTime`, `resources`, `github`, `credits`, `lastChargeTime`, `emailDirty` and `steam.ownership` are read by the official web client; `twitter`, `lastTweetTime` and `restrictedAccessUntil` are typed by node-screeps-api only."
        },
        "x-unverified": "`blocked` and `customBadge` are neither read by the official web client nor typed by node-screeps-api; their presence on screeps.com is unverified.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/auth/query-token": {
      "get": {
        "operationId": "authQueryToken",
        "summary": "Inspect an API token",
        "description": "Returns the permissions of a screeps.com account auth token: whether it has full access, or the REST endpoints and WebSocket channel groups it is restricted to, plus its description. node-screeps-api calls it to decide between `GET /api/auth/me` and the restricted `GET /api/user/name` lookup. Unrecognized tokens produce an HTTP error.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "The API token to inspect.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AuthQueryTokenResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L456-L467",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/auth.ts#L76-L84",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/auth.ts#L86-L104",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L2185-L2203"
        ],
        "x-compatibility": {
          "screeps-com": "The client sends the token only as a query parameter (plus its configured `X-Token`); whether the endpoint itself requires `X-Token` is unverified."
        }
      }
    },
    "/api/auth/signin": {
      "post": {
        "operationId": "authSignin",
        "summary": "Sign in with password",
        "description": "Exchanges an account e-mail address and password for a session token. The official web client posts `email`, `password`, its reCAPTCHA response (`recaptcha`) and, in the Steam desktop build, a hex-encoded Steam session ticket (`steamTicket`); it stores the returned `token` and then loads `GET /api/auth/me`.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthSigninRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AuthSigninResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "Invalid credentials. The official web client excludes sign-in from its HTTP 401 sign-out handling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C298607",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L416-L429",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/auth.ts#L6-L13"
        ],
        "x-compatibility": {
          "screeps-com": "node-screeps-api documents that password sign-in has not worked on screeps.com since 2018; use account auth tokens there."
        },
        "x-unverified": "Only `token` is read from the success body; server-side handling of `recaptcha` and `steamTicket` and the logical error values are not evidenced."
      }
    },
    "/api/auth/steam": {
      "get": {
        "operationId": "authSteam",
        "summary": "Start Steam web sign-in or account linking",
        "description": "Browser navigation, not an `Api` call: the official web client opens `API_URL + 'auth/steam?'` in a popup window, appending `token=<current auth token>` when signed in (links Steam to that account). On completion the popup posts a JSON string message to the opener; the client parses it, reads `token` (stored as the new session token), `email`, `steamid`, and `username` (absent for a newly registered account, which the client then sends to `/register`).",
        "tags": [
          "Auth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Current auth token, appended only when the user is already signed in (links Steam to that account).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Browser navigation opened in a popup window; the response (OAuth redirect chain and the final page) is not read as JSON by the official client."
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C299649"
        ],
        "x-unverified": "The HTTP responses of the navigation (Steam OpenID redirect, callback, final HTML page) and the postMessage payload beyond `token`/`email`/`steamid`/`username` are not evidenced."
      }
    },
    "/api/auth/steam-ticket": {
      "post": {
        "operationId": "authSteamTicket",
        "summary": "Sign in with a Steam session ticket",
        "description": "Verifies a Steam session ticket from the Steam desktop build and returns a session token plus the authenticated SteamID, creating an account without a username the first time a SteamID signs in (the official web client then routes the player to username selection). With `useNativeAuth`, the ticket is a Greenworks encrypted app ticket instead of a session ticket.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthSteamTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope. Known `error` values: `authentication method is not supported`, `could not authenticate`, `invalid encrypted ticket`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AuthSteamTicketResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C300346",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L431-L444",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/auth.js#L137-L178"
        ],
        "x-compatibility": {
          "screeps-com": "Untyped by node-screeps-api (`ScreepsUnknownResponse`); the official web client reads `token`, `steamid`, `username` and `email`."
        }
      }
    },
    "/api/ea/list": {
      "get": {
        "operationId": "adminEarlyAccessList",
        "summary": "List early-access applicants",
        "description": "Internal screeps.com administration page (`/ea`): lists early-access applicants. The client reads `list` and uses each entry's `email` (selection for `POST /api/ea/send`) and `sent` (truthy when already sent; can be hidden).",
        "tags": [
          "Administration (Hosted)"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/AdminEarlyAccessListResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C46800"
        ],
        "x-unverified": "Authorization requirements (presumably staff-only) and entry fields beyond `email`/`sent` are not evidenced."
      }
    },
    "/api/ea/send": {
      "post": {
        "operationId": "adminEarlyAccessSend",
        "summary": "Send early-access invitations",
        "description": "Internal screeps.com administration page (`/ea`): sends early-access e-mails to the selected applicant addresses. The client shows the whole JSON response in an alert.",
        "tags": [
          "Administration (Hosted)"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Selected applicant e-mail addresses."
                  }
                },
                "additionalProperties": true,
                "required": [
                  "emails"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, or a logical error in the HTTP 200 `{error}` envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C47036"
        ],
        "x-unverified": "Authorization requirements and the response fields (displayed verbatim) are not evidenced."
      }
    },
    "/api/experimental/nukes": {
      "get": {
        "operationId": "platformExperimentalNukes",
        "summary": "List active nuclear launches",
        "description": "Experimental official endpoint returning raw nuke objects grouped by shard. Read-only; it does not launch a nuke.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful result or logical API failure. Inspect error even on HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "integer",
                          "const": 1
                        },
                        "nukes": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/PlatformNuke"
                            }
                          }
                        }
                      },
                      "required": [
                        "ok",
                        "nukes"
                      ],
                      "additionalProperties": true
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1817-L1825",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/experimental.ts#L26-L34",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/common/rooms.ts#L646-L652"
        ]
      }
    },
    "/api/experimental/pvp": {
      "get": {
        "operationId": "platformExperimentalPvp",
        "summary": "Find recently active combat rooms",
        "description": "Experimental official endpoint, including attacks against NPCs. The client defaults interval to 100; its documentation does not establish precise interval units or filtering direction.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Experimental filter; reference client default is 100; precise upstream units are undocumented."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful result or logical API failure. Inspect error even on HTTP 200.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "ok": {
                          "type": "integer",
                          "const": 1
                        },
                        "pvp": {
                          "type": "object",
                          "additionalProperties": {
                            "$ref": "#/components/schemas/PlatformPvpShard"
                          }
                        }
                      },
                      "required": [
                        "ok",
                        "pvp"
                      ],
                      "additionalProperties": true
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1805-L1815",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/experimental.ts#L4-L24"
        ]
      }
    },
    "/api/game/add-global-intent": {
      "post": {
        "operationId": "gameAddGlobalIntent",
        "summary": "Queue a manual global intent",
        "description": "Queues one account-level intent (market orders, deals, power creep management) for the next tick, as if issued by the caller's script. The official client uses it to issue `suicidePowerCreep` (`{id}`) from the power creep panel. The payload is wrapped in a one-element list and sanitized with the engine intent table; unknown names queue nothing but still succeed.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameAddGlobalIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent queued. Logical failures are reported with HTTP 200 and `{error}`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C318483",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L714-L720"
        ],
        "x-unverified": "The official client issues only `suicidePowerCreep`; the accepted intent names and payload sanitization are inferred from the backend-local intent table. The success body beyond `ok` is not read.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/add-object-intent": {
      "post": {
        "operationId": "gameAddObjectIntent",
        "summary": "Queue a manual object or room intent",
        "description": "Queues a manual intent for the next tick, executed as if issued by the caller's script (e.g. `suicide`, `unclaim`, `activateSafeMode`, `notifyWhenAttacked`, room-level `destroyStructure`/`removeConstructionSite`/`removeFlag`). The target room must exist, be a world room (`W…`/`E…`, otherwise `not supported`), and be inside the borders and open (`out of borders`). `activateSafeMode` is refused while any of the caller's controllers has active safe mode (`safe mode active already`). The payload is sanitized with the engine intent table (only schema fields kept; unknown names store `{}`), merged into the caller's queued manual intents for that target (`$merge`: objects deep-merge, arrays merge index by index), and the room is activated.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameAddObjectIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent queued. Logical failures are reported with HTTP 200 and `{error}`: `invalid room`, `not supported`, `out of borders`, `safe mode active already`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C318110",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L509-L527",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L801-L813"
        ],
        "x-compatibility": {
          "screeps-com": "The community client types the body as a MongoDB upsert result (`result`)."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/change-flag-color": {
      "post": {
        "operationId": "gameChangeFlagColor",
        "summary": "Change a flag's colors",
        "description": "Recolors the caller's flag `name` in `room`. Both colors must be flag colors (`invalid params`). The official client sends the current `room` and `shard` with the flag name and both colors. The room's flag list is re-saved; an unknown name changes nothing but still succeeds.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameChangeFlagColorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flag colors saved. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameDbWriteResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C317308",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L480-L498",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L725-L736"
        ],
        "x-unverified": "Behavior without `room` is not evidenced for screeps.com (the official client always sends it; the community client omits it). The success body beyond `ok` is typed only by the community client.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/check-unique-flag-name": {
      "post": {
        "operationId": "gameCheckUniqueFlagName",
        "summary": "Check a flag name is unused",
        "description": "Succeeds with `{ok: 1}` unless one of the caller's flags (in any room) has `name` (`name exists`). Read-only.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCheckUniqueFlagNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Name is free. Logical failures are reported with HTTP 200 and `{error}`: `name exists`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C323968",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L469-L478",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L704-L710"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/check-unique-object-name": {
      "post": {
        "operationId": "gameCheckUniqueObjectName",
        "summary": "Check a spawn name is unused",
        "description": "Succeeds with `{ok: 1}` when none of the caller's spawns or construction sites has `name`; otherwise `name exists`. Read-only. Only `type: spawn` with a string `name` is accepted (`invalid params`).",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCheckUniqueObjectNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Name is free. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`, `name exists`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C323691",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L309-L326",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L595-L601"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/create-construction": {
      "post": {
        "operationId": "gameCreateConstruction",
        "summary": "Create a construction site",
        "description": "Places a construction site for the caller without needing room visibility. Validation: coordinates 0..49, a `CONSTRUCTION_COST` structure type, name ≤ 50 characters and required for spawns (`invalid params`); The target room must exist, be a world room (`W…`/`E…`, otherwise `not supported`), and be inside the borders and open (`out of borders`). The spot must be valid (`invalid location`: not on the room edge, an extractor only on a mineral, not on a same-type structure/site or blocking structure (ramparts excepted), not on a wall (roads excepted), not next to an exit, and beside the edge only next to edge walls (roads/containers excepted)); the controller must not be owned/reserved by someone else (`not a controller owner`); the RCL must allow another structure of the type (`RCL not enough`); the caller must have fewer than 100 sites (`too many`). Mutation: inserts a `constructionSite` with progress 0 and `progressTotal` = construction cost (roads ×5 on swamp, ×150 on wall) and activates the room.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCreateConstructionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site created. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`, `invalid room`, `not supported`, `out of borders`, `invalid location`, `not a controller owner`, `RCL not enough`, `too many`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameCreateConstructionResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C319044",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L529-L581",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L835-L848",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/game.ts#L98-L116"
        ],
        "x-unverified": "The official client reads only `_id`; the MongoDB insert-result fields are typed only by the community client.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/create-flag": {
      "post": {
        "operationId": "gameCreateFlag",
        "summary": "Create or move a flag",
        "description": "Creates a flag, or moves the caller's flag with the same name, without needing room visibility. Validation: numeric `x`/`y` within 0..49, string `name` ≤ 60 characters, valid colors (`invalid params`); The target room must exist, be a world room (`W…`/`E…`, otherwise `not supported`), and be inside the borders and open (`out of borders`). Mutation: a flag with the same name is first removed from whichever room holds it and saved; then, if the caller already has `FLAGS_LIMIT` (10000) flags, the request fails with `flags limit exceeded` (the old flag stays removed); otherwise the flag is appended to the room's flag list (`name~color~secondaryColor~x~y`, `|`/`~` in names escaped).",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCreateFlagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flag saved. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`, `invalid room`, `not supported`, `out of borders`, `flags limit exceeded`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameDbWriteResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C317152",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L419-L451",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L652-L666"
        ],
        "x-compatibility": {
          "screeps-com": "The community client types the body as a MongoDB upsert result: `result.upserted[0]._id` is the new flag id when created; absent when moved."
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/create-invader": {
      "post": {
        "operationId": "gameCreateInvader",
        "summary": "Summon a test invader",
        "description": "Summons an NPC invader creep (user `2`, 1500 ticks to live, no loot) to test defenses in a room the caller owns or reserves. Refused when 5 invaders already exist in the room (`too many invaders exist`), when another player's creeps are present (`hostiles present`), when the controller is not owned/reserved by the caller (`not owned`). Any tile is accepted, walls included; the room is not activated. Mutation: inserts the creep with `userSummoned` set to the caller; body parts by `size`+`type`, boosted when `boosted` is truthy.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameCreateInvaderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invader created. Logical failures are reported with HTTP 200 and `{error}`: `too many invaders exist`, `hostiles present`, `not owned`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameCreateInvaderResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C326343",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L631-L694",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L898-L912"
        ],
        "x-unverified": "The official client does not read the success body; fields beyond `ok` are not evidenced for screeps.com.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/find-object": {
      "get": {
        "operationId": "gameFindObject",
        "summary": "Find a room object by id",
        "description": "Looks up a room object by its id. The official room view calls it when an object is selected by id (`selectObjectPending`) and, when the returned `object.room` differs from the current room, navigates there. No `shard` is sent.",
        "tags": [
          "Game"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Room object id."
          },
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup result. Logical failures are reported with HTTP 200 and `{error}`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameFindObjectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C143199"
        ],
        "x-unverified": "Only `object.room` is read by the official client; other object fields, the authentication requirement, shard handling and the response for an unknown id are not evidenced."
      }
    },
    "/api/game/finish": {
      "post": {
        "operationId": "gameFinish",
        "summary": "Finish the game in a room",
        "description": "Ends the current game in a room. The official room view's `finishGame` posts the current `room` (its local simulation counterpart marks the game info status `finished`, the state used by the survival and custom training modes).",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameFinishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game finished. Logical failures are reported with HTTP 200 and `{error}`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Ok"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C324078"
        ],
        "x-unverified": "Which rooms and game modes accept this call, its effect on screeps.com and the success body beyond `ok` are not evidenced; the official client does not read the response.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/gen-unique-flag-name": {
      "post": {
        "operationId": "gameGenUniqueFlagName",
        "summary": "Generate a unique flag name",
        "description": "Returns the first `Flag<N>` name not used by any of the caller's flags. Read-only.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameShardOnlyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated name. Logical failures are reported with HTTP 200 and `{error}`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameGeneratedNameResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C323373",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L454-L467",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L681-L687",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/game.ts#L89-L91"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/gen-unique-object-name": {
      "post": {
        "operationId": "gameGenUniqueObjectName",
        "summary": "Generate a unique spawn name",
        "description": "Returns the first `Spawn<N>` name not used by the caller's spawns or spawn construction sites. Read-only. Only `type: spawn` is accepted (`invalid params`).",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameGenUniqueObjectNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated name. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameGeneratedNameResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C323067",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L285-L307",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L572-L578",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/game.ts#L89-L91"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/history-share": {
      "post": {
        "operationId": "gameHistoryShare",
        "summary": "Create a room history share link",
        "description": "Creates a shareable link to a room history moment. The official room history view posts the current `shard`, `room` and game `time`, then shows `screeps.com/s/<code>` together with the returned `room`, `time` and `shard`.",
        "tags": [
          "Game"
        ],
        "security": [
          {},
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameHistoryShareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Share link. Logical failures are reported with HTTP 200 and `{error}`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameHistoryShareResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C159035"
        ],
        "x-unverified": "Whether authentication is required and the lifetime of a share code are not evidenced; the echoed `room`, `shard` and `time` are assumed to mirror the request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/map-stats": {
      "post": {
        "operationId": "gameMapStats",
        "summary": "Get map statistics for rooms",
        "description": "Returns, for each requested room that exists, its status fields, controller ownership (`own`), sign, active safe mode, mineral (`minerals0`) and, for `<stat><interval>` stat names, the ranking of that statistic over the interval, plus the largest ranked value per stat (`statsMax`) and public profiles of every referenced user. Read-only. The official world map requests `owner0` below the closest zoom level and the selected layer stat (e.g. `energyHarvested8`) at the closest one, merges `stats` and `users` into its map state and sizes stat circles by `statsMax`.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GameMapStatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map stats. Logical failures are reported with HTTP 200 and `{error}`: `invalid params`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/GameMapStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L223538C46",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C245743",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/game.js#L186-L257",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L546-L556",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/game.ts#L30-L42",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsRateLimitTracker.ts#L67-L80"
        ],
        "x-compatibility": {
          "screeps-com": "Sent with `shard` in the body; the community client rate-limits this endpoint at 60 requests per hour."
        },
        "x-unverified": "The per-stat ranking entry is documented only by the community client (one `{user, value}` object); the official client renders it in templates outside the analysed assets.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/market/my-orders": {
      "get": {
        "operationId": "marketMyOrders",
        "summary": "List the caller's orders",
        "description": "Returns every market order owned by the caller (active or not), with `price` in credits, grouped by shard under `shards` (intershard orders under `intershard`). Authenticated, read-only. The official client renders one order table per shard entry that has orders.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Orders.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MarketMyOrdersResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L201213C16",
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L201278C16",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C103058",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/market.js#L45-L51",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1126-L1128",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1891-L1899",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/gameMarket.ts#L27-L29",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsRateLimitTracker.ts#L67-L80"
        ],
        "x-compatibility": {
          "screeps-com": "Called without `shard`; the community client rate-limits this endpoint at 60 requests per hour."
        },
        "x-unverified": "The `intershard` key is documented only by the community client.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ]
      }
    },
    "/api/game/market/orders": {
      "get": {
        "operationId": "marketOrders",
        "summary": "List active orders for a resource",
        "description": "Returns active orders for `resourceType`, with `price` converted to credits. Authenticated, read-only. The official client splits `list` by `type` into sell and buy tables.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Resource type (e.g. `energy`, `H`, `pixel`)."
          },
          {
            "$ref": "#/components/parameters/Shard"
          },
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Orders.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MarketOrdersResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L201645C22",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C99691",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/market.js#L37-L43",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1139-L1141",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/gameMarket.ts#L36-L38",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/common/market.ts#L36-L48",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsRateLimitTracker.ts#L67-L80"
        ],
        "x-compatibility": {
          "screeps-com": "The community client rate-limits this endpoint at 60 requests per hour."
        }
      }
    },
    "/api/game/market/orders-index": {
      "get": {
        "operationId": "marketOrdersIndex",
        "summary": "Summarize active market orders",
        "description": "Returns one entry per resource type with active orders. Authenticated, read-only. The official client merges each entry (`_id`, `count`, `buying`, `selling`) into its resource table.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Shard"
          },
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Order index.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MarketOrdersIndexResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L200274C50",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C98990",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/market.js#L14-L35",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1112-L1118",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/gameMarket.ts#L10-L18",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsRateLimitTracker.ts#L67-L80"
        ],
        "x-compatibility": {
          "screeps-com": "The community client rate-limits this endpoint at 60 requests per hour and documents that intershard data is always included."
        },
        "x-unverified": "`avgPrice` and `stdeevPrice` are typed only by the community client."
      }
    },
    "/api/game/market/stats": {
      "get": {
        "operationId": "marketStats",
        "summary": "Get daily market history",
        "description": "Returns daily price statistics for `resourceType`, newest first. Authenticated, read-only. The official client reads `stats` for the resource order view.",
        "tags": [
          "Market"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "name": "resourceType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Resource type."
          },
          {
            "$ref": "#/components/parameters/Shard"
          },
          {
            "$ref": "#/components/parameters/LegacyUsername"
          }
        ],
        "responses": {
          "200": {
            "description": "Market history.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MarketStatsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ApiError"
                    }
                  ]
                }
              }
            },
            "headers": {
              "X-Token": {
                "description": "Rotated session token when issued by the server; store it for subsequent authenticated requests.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-availability": {
          "screeps-com": "supported"
        },
        "x-sources": [
          "https://screeps.com/a/app2/main.js?bust=1787842760865#L201660C21",
          "https://screeps.com/a/build.min.js?bust=1787842760865#L1C99866",
          "https://github.com/screeps/backend-local/blob/9d079282303ec04e577ac2bb97f64312b25e4ccd/lib/game/api/market.js#L53-L56",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsHttpClient.ts#L1154-L1160",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/http/gameMarket.ts#L45-L56",
          "https://github.com/screepers/node-screeps-api/blob/0f861874ff119b7ba37d0d1a4beb90f096209f4e/src/ScreepsRateLimitTracker.ts#L67-L80"
        ],
        "x-compatibility": {
          "screeps-com": "The community client rate-limits this endpoint at 60 requests per hour."
        }
      }
    },
    "/api/game/place-spawn": {
      "post": {
        "operationId": "gamePlaceSpawn",
        "summary": "Place the first spawn",
        "description": "Starts playing: places the caller's first spawn at `x`,`y` in a free room. Preconditions: coordinates 0..49 and name ≤ 50 characters (`invalid params`), account not blocked (`blocked`), non-zero CPU (`no cpu`), at least 180 s since the last respawn (`too soon after last respawn`), playable room (The target room must exist, be a world room (`W…`/`E…`, otherwise `not supported`), and be inside the borders and open (`out of borders`). / `invalid room`), the caller owns no room objects (`already playing`), the controller exists (`invalid room`) and is unowned, unreserved and not bound to another user (`room busy`), and the tile is a valid construction spot (`invalid location`). Mutation: other players' creeps and construction sites in the room are removed, their structures become ruins (decaying after 100000 ticks), the level-0 controller is claimed at level 1 with 20000 ticks of safe mode, sources reset `invaderHarvested`, the spawn is inserted with 300 energy, the room's `invaderGoal` becomes 1000000, the room is activated, and the user's `active` counter becomes 10000. See `userWorldStatus` for the precondition state.\n\nPlacing the initial spawn of an account has been observed to reset the account's CPU allocation to the selected shard; callers must not assume a previously configured allocation (`userCpuShardsSet`, `POST /api/user/cpu-shards`) survives.",
        "tags": [
          "Game"
        ],
        "security": [
          {
            "Token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GamePlaceSpawnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
